@model KurguWebsite.WebUI.UIModel.Home.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="owl-carousel owl-carousel-light owl-carousel-light-init-fadeIn owl-theme manual nav-style-1 nav-arrows-thin nav-font-size-lg nav-outside custom-nav-1 custom-nav-1-pos-1 ps-lg-5 ps-xl-0" data-plugin-options="{'autoplay': true, 'autoplayTimeout': 7000}" data-dynamic-height="['650px','650px','650px','550px','500px']" style="height: 650px;">
</div>
@* 
@await Component.InvokeAsync("FeaturedServices", new { services = Model.FeaturedServices })
@await Component.InvokeAsync("Testimonials", new { testimonials = Model.Testimonials })
@await Component.InvokeAsync("Partners", new { partners = Model.Partners }) *@