<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Kurgu IT Services</title>

    <link id="googleFonts" href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Poppins:300,400,500,600,700,800,900&display=swap" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/vendor/animate/animate.compat.css">
    <link rel="stylesheet" href="~/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="~/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="~/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/vendor/magnific-popup/magnific-popup.min.css">

    <link rel="stylesheet" href="~/css/theme.css">
    <link rel="stylesheet" href="~/css/theme-elements.css">

    <link rel="stylesheet" href="~/css/demos/demo-it-services.css">

    <link id="skinCSS" rel="stylesheet" href="~/css/skins/skin-it-services.css">

    <link rel="stylesheet" href="~/css/custom.css">
</head>
<body data-plugin-page-transition>
    <div class="body">

      @*   @await Component.InvokeAsync("Header") *@

        <div role="main" class="main">
            @RenderBody()
        </div>

    @*     @await Component.InvokeAsync("Footer") *@

    </div>

    <script src="~/vendor/plugins/js/plugins.min.js"></script>
    <script src="~/vendor/jquery.appear/jquery.appear.min.js"></script>
    <script src="~/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/vendor/jquery.cookie/jquery.cookie.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/jquery.validation/jquery.validate.min.js"></script>
    <script src="~/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
    <script src="~/vendor/jquery.gmap/jquery.gmap.min.js"></script>
    <script src="~/vendor/lazysizes/lazysizes.min.js"></script>
    <script src="~/vendor/isotope/jquery.isotope.min.js"></script>
    <script src="~/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="~/vendor/vide/jquery.vide.min.js"></script>
    <script src="~/vendor/vivus/vivus.min.js"></script>

    <script src="~/js/theme.js"></script>

    <script src="~/js/demos/demo-it-services.js"></script>

    <script src="~/js/custom.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>